<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Zameenlo Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>


<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="#">Zameenlo</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <!-- <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..."
                    aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i
                        class="fas fa-search"></i></button>
            </div> -->
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <!-- <li><a class="dropdown-item" href="#!">Settings</a></li>
                    <li><a class="dropdown-item" href="#!">Activity Log</a></li> -->
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Core</div>

                        <a class="nav-link" href="/account/<%=id%>/dashboard">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>

                        <a class="nav-link" href="/account/<%=id%>/newUsers">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            New Users
                        </a>

                        <a class="nav-link" href="/account/<%=id%>/allProperties">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            All Properties
                        </a>

                        <a class="nav-link active" href="/account/<%=id%>/allCities">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            All Cities
                        </a>



                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    Website Administrator
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Dashboard</h1>
                    <br><br>
                    <h4>All Cities</h4>
                    <br>
                    <!-- Button trigger modal -->
               <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                   Add New City
               </button>

               <!-- Modal -->
               <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                   aria-hidden="true">
                   <div class="modal-dialog">
                       <div class="modal-content">
                           <div class="modal-header">
                               <h1 class="modal-title fs-5" id="exampleModalLabel">Add New City</h1>
                               <button type="button" class="btn-close" data-bs-dismiss="modal"
                                   aria-label="Close"></button>
                           </div>
                           <div class="modal-body">
                               <form action="/account/newCity" method="post" enctype="multipart/form-data">
                                   <div class="form-group">
                                       <label for="pName">City Name</label>
                                       <input type="text" class="form-control" name="cityName"
                                           placeholder="Enter New city name" required>
                                       <!-- passing userid -->
                                       <input type="text" style="display: none;" name="id"
                                           value="<%=id%>" required>

                                   </div>
                                  
                                   <div class="form-group">
                                       <label for="imgSrc">Image Source</label>
                                       <input type="file" class="form-control" name="imgSrc" required>
                                   </div>
                                   <br>
                                   <div class="modal-footer">
                                       <button type="submit" class="btn btn-primary">Submit</button>

                                       <button type="button" class="btn btn-secondary"
                                           data-bs-dismiss="modal">Close</button>
                                   </div>
                               </form>
                           </div>

                       </div>
                   </div>
               </div>
               <!-- add model end -->
               <br><br>

                    <!-- tables -->
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            All Cities List
                        </div>

                        <div class="card-body">
                            <table id="datatablesSimple">
                                <thead>
                                    <tr>
                                        <th>City</th>
                                        <th>Name</th>
                                        <th>Status</th>
                                        <th>Operations</th>
                                        <th>Delete Status</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Property</th>
                                        <th>Name</th>
                                        <th>Status</th>
                                        <th>Operations</th>
                                        <th>Delete Status</th>
                                    </tr>
                                </tfoot>
                                <tbody>

                                    <%allCities.forEach((city)=>{%>

                                        <tr>
                                            <td>
                                                <div>
                                                    <%if(city.imgSrc != ''){%>
                                                        <img class="card-img-top"height="40"  width= '40'  src="http://localhost:3001/<%=city.imgSrc%>"
                                                        alt="profile image">
                                                        <% }else{%>
                                                            <img class="card-img-top placeholder-glow"height="40"  width= '40'  src="/assets/img/noImage.png"
                                                        alt="profile image">
                                                            <% }%>
                                                </div>
                                            </td>
                                            <td>
                                                <%=city.name%>
                                            </td>
                                           
                                            <td>
                                                <!-- enabled or disabled -->
                                                <div class="btn-group" role="group"
                                                    aria-label="Basic radio toggle button group">

                                                    <form action="/account/updateCityStatus" method="post">
                                                       
                                                        <input type="text" style="display: none;" name="cityId" value="<%=city.id%>" required>
                                                        <input type="text" style="display: none;" name="id" value="<%=id%>" required>
                                                        <%if(city.isEnabled==true){%>
                                                        <input type="submit" name="Enabled" value="Enabled ✔" class="btn btn-success" >
                                                        <% }else{%>
                                                            <input type="submit"  name="Disabled" value="Disabled ❌" class="btn btn-danger" >
                                                            <% }%>
                                                    </form>


                                                </div>

                                            </td>

                                            <td>
                                                <!-- <%=city.name%> function-->
                                                <!-- <div class="d-flex d-flex align-items-center justify-content-around "> -->
                                                <div class=" align-items-center justify-content-around ">
                                                    <button type="button" class=" btn btn-success" data-bs-toggle="modal"
                                                        data-bs-target="#exampleModal<%=city.id%>">
                                                        Edit City
                                                    </button>
                                                    <button type="button" class=" btn btn-danger" data-bs-toggle="modal"
                                                        data-bs-target="#delete<%=city.id%>">
                                                        Delete City
                                                    </button>
                                                </div>

                                                  <!-- model edit -->
                                    <div class="modal fade" id="exampleModal<%=city.id%>" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Edit City
                                                    </h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <!-- body -->
                                                <div class="modal-body">
                                                    <img src="http://localhost:3001/<%=city.imgSrc%>" width="60px"
                                                        height="60px" alt="property image">
                                                    <br><br>
                                                    <form action="/account/updateCity" method="post"
                                                        enctype="multipart/form-data">
                                                        <div class="form-group">
                                                            <label for="pName">City Name</label>
                                                            <input type="text" class="form-control" name="cityName"
                                                                value="<%=city.name%>"
                                                                placeholder="<%=city.name%>" required>
                                                            <!-- passing userid -->
                                                            <input type="text" style="display: none;" name="id"
                                                                value="<%=id%>" required>
                                                            <input type="text" style="display: none;" name="cityId"
                                                                value="<%=city.id%>" required>

                                                        </div>
                                                    
                                                        <div class="form-group">
                                                            <label for="imgSrc">Image Source</label>
                                                            <input type="file" class="form-control" name="imgSrc">
                                                        </div>
                                                        <br>
                                                        <div class="modal-footer">
                                                            <button type="submit"
                                                                class="btn btn-primary">Submit</button>

                                                            <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Close</button>
                                                        </div>
                                                    </form>
                                                </div>
                                                <!-- body end -->

                                            </div>
                                        </div>
                                    </div>
                                    <!-- model edit end -->

                                    <!-- model delete -->
                                    <div class="modal fade" id="delete<%=city.id%>" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Delete City
                                                    </h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <!-- body -->
                                                <div class="modal-body">

                                                    <form action="/account/deleteCity" method="post"
                                                        enctype="multipart/form-data">
                                                        <p>Are you sure you want to delete this City?</p>
                                                        <p>
                                                            <%=city.name%>
                                                        </p>
                                                        <div class="form-group">
                                                            <!-- cityId -->
                                                            <input type="read-only" style="display: none;"
                                                                class="form-control" name="cityId" value="<%=city.id%>"
                                                                placeholder="<%=city.id%>" required>
                                                            <!-- passing userid -->
                                                            <input type="text" style="display: none;" name="id"
                                                                value="<%=id%>" required>

                                                        </div>

                                                        <br>
                                                        <div class="modal-footer">
                                                            <button type="submit" class="btn btn-danger">Confirm
                                                                Delete</button>

                                                            <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Cancel</button>
                                                        </div>
                                                    </form>
                                                </div>
                                                <!-- body end -->

                                            </div>
                                        </div>
                                    </div>
                                    <!-- model delete -->

                                            </td>

                                            <td>
                                                <%=city.isDeleted%>
                                            </td>

                                        </tr>
                                        <%})%>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; ZameenLo admin 2023</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="/assets/demo/chart-area-demo.js"></script>
    <script src="/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>
    <script src="/js/datatables-simple-demo.js"></script>
</body>

</html>